<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Page Title -->
        <title>Surgical Names</title>

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/assets/img/favicons/site.webmanifest">
        <link rel="mask-icon" href="/static/assets/img/favicons/safari-pinned-tab.svg" color="#f23838">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Vendor Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"> 
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>

        <!--Plugin CSS file with desired skin-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tail.select@0.5.15/css/bootstrap4/tail.select-default.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
        <script type="test/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.0/papaparse.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129313359-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-129313359-1');
        </script>

        <!-- Theme Stylesheets -->
        <link href="/static/assets/css/theme.css" rel="stylesheet">

        <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
        <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
 
        <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" rel="stylesheet"/> 

    </head>

    <body>
        <!-- Header -->
        <header class="spyre-navbar navbar navbar-expand-lg bg-secondary navbar-dark fixed-top align-items-center" data-transparent data-text-color="#ffffff">
            <div class="container">
                <a class="navbar-brand mr-lg-5 mr-xl-7" href="{{ url_for('.index', _anchor='section-4') }}">
                    <img src="/static/assets/img/EponymExplorer.png" class="d-none d-lg-block" alt="EponymExplorer" width="183" />
                    <img src="/static/assets/img/EponymExplorer.png" class="d-block d-lg-none" alt="EponymExplorer" width="150" />
                </a>
            </div>
        </header>
        <!-- End of Header -->

        <!-- Main Content -->
        <main class="main minh-100vh">
            <!-- Section -->
            <section class="py-0 overflow-hidden text-center" id="section-1">
                <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(/static/assets/img/backgrounds/iStock-583857946_big.jpg)"></div>
                <div class="container">
                    <div class="row h-100vh justify-content-center align-items-center">
                        <div class="col">
                            <h1 class="mb-5 fs-lg-1 text-white" data-aos="fade-down" data-aos-duration="1500">Search</h1>
                            <p class="text-white text-uppercase fs-4 fs-lg-6" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1500">A to Z</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section id="section-2">
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <h1 class="text-black mb-2 fs-1 ">Specialties</h1>
                            <!--<input id="toggle-one" type="checkbox" checked data-toggle="toggle"
                                   data-onstyle="default" data-on="All" data-off="Select"
                                   data-style="ios">
                            <br> -->
                            <a class="btn btn-primary active btn-rounded"   id="btn_all"    role="button" aria-pressed="true">All</a>
                            <a class="btn btn-light btn-rounded" id="btn_select" role="button" aria-pressed="true">Options</a>
                        </div>
                    </div>
                    <hr style="height:1px; visibility:hidden">
                    <form method="POST">
                        <div class="row align-items-center text-center">
                            <div class="col" id="selector" style="display:none" >
                                <select id="select1" class="selectpicker" 
                                    multiple title="Select specialties" 
                                    data-width="340px"
                                    multiple data-actions-box="true"
                                    data-size="4"
                                    multiple data-selected-text-format="count > 2">
                                    {% for spec in specs %}
                                        <option> <li>{{ spec }}</li> </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <p1 style="font-size: 5px;"></p1>
                        </div>
                    </div>
                </div>
                <br></br>
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <h1 class="text-black mb-2 fs-1 ">Time Traveller</h1>
                        </div>
                    </div>
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <input type="text" id="time" name="time" value="" />
                        </div>
                    </div>
                    <!-- <div class="row align-items-center text-center">
                        <div class="col">
                            <p2 style="font-size: 16px;">1700</p2> to 
                            <p3 style="font-size: 16px;">2021</p3>
                        </div>
                    </div> -->
                </div>
                <br></br>
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <select class="selectpicker show-tick" 
                                    data-width="340px"
                                    data-size="4"
                                    data-live-search="true"
                                    id="sel" onchange="show(this.value)">
                                <!--<option value=""></option> -->
                            </select>
                            <p id="msg"></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->
        </main>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="footer text-white" style="background-image: url(/static/assets/img/backgrounds/iStock-532331964.jpg)">
            <div class="container d-flex h-100">
                <div class="row flex-grow-1">
                    <div class="col d-flex flex-column mb-2 mt-3 pl-lg-7">
                        <div class="col-6 col-lg-3">
                            <br></br>
                            <h6 class="mb-1 mb-lg-4 text-uppercase">About</h6>
                            <ul class="pt-2 mb-5 fw-light list-unstyled">
                                <li class="my-1"><a href="#" class="text-white">Design Team</a></li>
                                <li class="my-1"><a href="#" class="text-white">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="mt-auto d-flex justify-content-between">
                            <span class="fs--3 fs-lg--2">&copy; 2021 SurgicalNames.com | Excision Ltd, Scotland, UK</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        <!-- Javascripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/tail.select@0.5.15/js/tail.select-full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
            // Accepts any class name
            var rellax = new Rellax('.rellax');
        </script>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!--Plugin JavaScript file-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>   
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <script src="https://jsuites.net/v4/jsuites.js"></script>

        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>

        <script>
            $(function() {
              $('#toggle-one').bootstrapToggle();
            })
        </script>

        <script>
            var eponyms = [
            {ID: 001, name:"Aaron sign",            topic:"General",                who:"Charles Dettie Aaron",          where:"Detroit, Michigan, USA (Harper Hospital)",   when:"1913",   refs:"<br><br><u>Reference</u><br>Aaron CD. A sign indicative of chronic appendicitis. JAMA. 1913; 60(5): 350-351",    about:"<br><br>Aaron's sign, indicitive of chronic appendicitis, is demonstrated by prolonged firm pressure at McBurney's point which produces pain in the epigastric region. In Aaron's 1913 paper, he describes his findings in four patients.<br>"},
            {ID: 002, name:"Artery of Adamkiewicz", topic:"Vascular,Neurosurgery",  who:"Albert Wojciech Adamkiewicz",   where:"Kraków, Poland",                             when:"1881",   refs:"",   about:"<br><br>The artery of Adamkiewicz is known by other terms, including arteria radicularis magna. This vessel is a major contributor to the anterior spinal artery which gives arterial supply to the lumbar and sacral cord and nerves. The artery of Adamkiewicz arises from intercostal arteries which branch from the thoraco-abdominal aorta.<br>"},
            {ID: 003, name:"Amyand hernia",         topic:"General",                who:"Claudius Amyand",               where:"London, England, UK",                        when:"1735",   refs:"<br><br><u>Reference</u><br>Amyand C. 1735 VIII. <b>Of an inguinal rupture, with a pin in the appendix coeci, incrusted with stone; and some observations on wounds in the guts</b>. Phil Trans R Soc. 39; 329-342",    about:"<br><br>Amyand's hernia refers to the finding of the appendix, not necessarily inflamed, within an inguinal hernia. Claudius Amyand (Serjent Surgeon to His Majesty, and FRS) reported on the 8th October 1735, an 11-year old boy, Hanvil Anderson, was admitted to St. George's Hospital near Hyde Park Corner. He had a filstula btween his scrotum and thigh, discharging an unkindly sort of matter. The operation was performed on 6th December 1735.<br>"},
            {ID: 004, name:"Babcock forceps",       topic:"General",                who:"William Wayne Babcock",         where:"Philadelphia, Pennsylvania, USA",            when:"1963",   refs:"",   about:""},
            {ID: 005, name:"Zenker's diverticulum", topic:"Oesophagogastric",       who:"Friedrich Albert von Zenker",   where:"Erlangen, Bavaria, Germany",                 when:"1867",   refs:"<br><br><u>Reference</u><br>Zenker FA and von Ziemssen HW. Krankheiten des Oesophagus. Leipzig, 1867",    about:"<br><br>Zenker's report was based on 5 personal cases and 22 cases collected from the literature. Also called a pharyngeal pouch, Zenker's diverticulum affects the mucosa of the human pharynx, just above cricopharyngeal muscle. It is a pseudo diverticulum (not involving ll the layers of the oesophageal wall).<br>"},
            ];

            //var unique = eponyms["topic"].filter((v, i, a) => a.indexOf(v) === i);

        </script>

        <script>
            $(document)
            .ready(function() {
                $('#select1').ready(function() {
                    let value = $('#select1 option').map(function() {
                            return this.text}).get().join(',');
                    $( "p1" ).html( value );
                });
            });
        </script>

    
        <script>
            $(function() {
                $('#toggle_one').change(function() {
                    if ($(this).is("Select")) {
                        $('#selector').fadeIn(300);
                    }
                    
                });
            });
        </script>

        <script>
            $(function() {
                $('#btn_all').on('click', function() {
                    $('#btn_all').removeClass("btn btn-light");
                    $('#btn_all').addClass("btn btn-primary active");
                    $('#selector').fadeOut(200);
                    $('#btn_select').removeClass("btn btn-primary active");
                    $('#btn_select').addClass("btn btn-light");
                    let value = $('#select1 option')
                        .map(function() {
                            return this.text
                            })
                        .get().join(',');
                    $( "p1" ).html( value );
                    });
                
                $('#btn_select').on('click', function() {
                    $('#btn_all').removeClass("btn btn-primary active");
                    $('#btn_all').addClass("btn btn-light");
                    $('#btn_select').removeClass("btn btn-light");
                    $('#btn_select').addClass("btn btn-primary active");
                    $('#selector').fadeIn(200);
                });
            });
        </script>

        <script>
            $('#btn_select').on('click', function() {
                $('#select1').ready(function() {
                    var select ="";
                    $("#select1").find('option:selected').each(function() {
                        select +=","+$.trim($(this).text());
                    });
                    if(select != ""){
                        select = select.substr(1);
                    }
                    $( "p1" ).html( select );
                    });
            });
        </script>
     
        <script>
            $('#time').ionRangeSlider({
            type: "double",
            grid: true,
            min: 1670,
            max: 2050,
            from: 1700,
            to: 2021,
            prefix: 'Year : ',
            prettify_separator: '',
            hide_min_max: true,
            });
        </script>

        <script>
            $(document)
            .ready(function() {
                $('#time').on("change", function() {
                    var $inp = $(this);
                    var frm = $inp.data("from");
                    var to = $inp.data("to");
                    $("p2").html( frm );
                    $("p3").html( to );
                });
            });
        </script>

        <script>
            tail.select('#select2', {
                width: 340,
            });
        </script>

        <script>
            $(document)
            .ready(function() {
                let ep_value = $('#select2').find('option:selected').text();
                $( "p4" ).html( ep_value );
            });
        </script>

        <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2();
            });

            var eponyms = [
            {ID: 001, name:"Aaron sign",            topic:"General",                who:"Charles Dettie Aaron",          where:"Detroit, Michigan, USA",            when:"1913",   refs:"<br><br><u>Reference</u><br>Aaron CD. A sign indicative of chronic appendicitis. <i>JAMA</i>. 1913; 60(5): 350-351",    about:"<br><br><br>Aaron's sign, indicitive of chronic appendicitis, is demonstrated by prolonged firm pressure at McBurney's point which produces pain in the epigastric region. In Aaron's 1913 paper, he describes his findings in four patients.<br>"},
            {ID: 002, name:"Artery of Adamkiewicz", topic:"Vascular,Neurosurgery",  who:"Albert Wojciech Adamkiewicz",   where:"Kraków, Poland",                    when:"1881",   refs:"",   about:"<br><br><br>The artery of Adamkiewicz is known by other terms, including arteria radicularis magna. This vessel is a major contributor to the anterior spinal artery which gives arterial supply to the lumbar and sacral cord and nerves. The artery of Adamkiewicz arises from intercostal arteries which branch from the thoraco-abdominal aorta.<br>"},
            {ID: 003, name:"Amyand hernia",         topic:"General",                who:"Claudius Amyand",               where:"London, England, UK",               when:"1735",   refs:"<br><br><u>Reference</u><br>Amyand C. 1735 VIII. Of an inguinal rupture, with a pin in the appendix coeci, incrusted with stone; and some observations on wounds in the guts. <i>Phil Trans R Soc</i>. 39; 329-342",    about:"<br><br><br>Amyand's hernia refers to the finding of the appendix, not necessarily inflamed, within an inguinal hernia. Claudius Amyand (Serjent Surgeon to His Majesty, and FRS) reported on the 8th October 1735, an 11-year old boy, Hanvil Anderson, was admitted to St. George's Hospital near Hyde Park Corner. He had a filstula btween his scrotum and thigh, discharging an unkindly sort of matter. The operation was performed on 6th December 1735.<br>"},
            {ID: 004, name:"Babcock forceps",       topic:"General",                who:"William Wayne Babcock",         where:"Philadelphia, Pennsylvania, USA",   when:"1963",   refs:"",   about:""},
            {ID: 005, name:"Whipple's operation",   topic:"HPB",                    who:"Allen Oldfather Whipple",       where:"Manhattan, New York, USA",          when:"1934",   refs:"<br><br><u>Reference</u><br>Whipple AO, Parsons WB, Mullins CR. Treatment of carcinoma of the ampulla of Vater. <i>Ann Surg</i>. 1935; 102(4): 763-779",   about:""},
            {ID: 006, name:"Zenker's diverticulum", topic:"Oesophagogastric",       who:"Friedrich Albert von Zenker",   where:"Erlangen, Bavaria, Germany",        when:"1867",   refs:"<br><br><u>Reference</u><br>Zenker FA and von Ziemssen HW. Krankheiten des Oesophagus. Leipzig, 1867",    about:"<br><br><br>Zenker's report was based on 5 personal cases and 22 cases collected from the literature. Also called a pharyngeal pouch, Zenker's diverticulum affects the mucosa of the human pharynx, just above cricopharyngeal muscle. It is a pseudo diverticulum (not involving ll the layers of the oesophageal wall).<br>"},
            ];

            var selected = eponyms

            function populateSelect() {
                var ele = document.getElementById('sel');
                selected.forEach(function(b) {
                    ele.innerHTML += '<option value="' + b.ID + '">' + b['name'] + '</option>';
                    })
                }

            function show(id) {
            // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
                var msg = document.getElementById('msg');
                if (!id) {
                    msg.innerHTML = "";

                } else {
                    for (var i = 0; i < selected.length; i++) {
                    if (Number(id) === selected[i].ID) {
                        msg.innerHTML = "<br>"+
                                        'Who'   +":   "+ selected[i].who.bold()   +"<br>"+
                                        'When'  +":   "+ selected[i].when.bold()  +"<br>"+
                                        'Where' +":   "+ selected[i].where.bold() +
                                        selected[i].about +
                                        selected[i].refs;
                        break;
                        }
                    }
                }
            }
            populateSelect()
        </script>

        <script src="/static/assets/js/theme.js"></script>
    </body>
</html>