<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- -------------------->

<br>
<div class="div">Specialties<br/>
  <select class="js-example-basic-single"
     data-width="240px"
     id="select1"
     multiple data-actions-box="true">
  </select><br />
</div>
<br>
<div class="div">
Eponyms<br />
<select name="select4" id="select4"
   data-width="300px"
   data-size="6"
   data-live-search="true"
   onchange="show(this.value)">
   <option value=""> -- specialty eponyms -- </option>
</select>
<p id="msg"></p>  
</div>



<script>
//////////////////////////////////////////////
$(document).ready(function() {
    $('.js-example-basic-single').select2({
    maximumSelectionLength: 3,
    allowClear: true,
    placeholder: '--? select --',
    });
});

var eponyms = [{
        ID: 1,
        name: "Aaron sign",
        topic: ["General"],
        who: "Charles Dettie Aaron",
        where: "Detroit, Michigan, USA",
        when: "1913",
      },
      {
        ID: 2,
        name: "Artery of Adamkiewicz",
        topic: ["Vascular", "Neurosurgery"],
        who: "Albert Wojciech Adamkiewicz",
        where: "Kraków, Poland",
        when: "1881",
      },
      {
        ID: 3,
        name: "Amyand hernia",
        topic: ["General"],
        who: "Claudius Amyand",
        where: "London, England, UK",
        when: "1735",
      },
      {
        ID: 4,
        name: "Babcock forceps",
        topic: ["General"],
        who: "William Wayne Babcock",
        where: "Philadelphia, Pennsylvania, USA",
        when: "1963",
      },
      {
        ID: 5,
        name: "Calot's triangle",
        topic: ["HPB"],
        who: "Jean-François Calot",
        where: "Paris, France",
        when: "1891",
      },
      {
        ID: 6,
        name: "Conn's syndrome",
        topic: ["Endocrine"],
        who: "Jerome W Conn",
        where: "Ann Arbor, Michigan, USA",
        when: "1955",
      },
      {
        ID: 7,
        name: "DeMeester score",
        topic: ["Oesophagogastric"],
        who: "Tom R Demeester",
        where: "Honolulu, Hawaii, USA",
        when: "1974",
      },
      {
        ID: 8,
        name: "Eckardt score",
        topic: ["Oesophagogastric"],
        who: "Volker F Eckardt",
        where: "Mainz, Germany",
        when: "1992",
      },
      {
       ID: 9,
       name: "Fisher's exact test",
       topic: ["Academic"],
       who: "Ronald Fisher",
       where: "London, England, UK",
       when: "1934",
      },
      {
       ID: 10, 
       name:"Fournier's gangrene",        
       topic: ["Urology","Emergency"],      
       who:"Jean Alfred Fournier",           
       where:"Paris, France",                     
       when:"1883",
      },
      {
       ID: 11, 
       name:"Hartmann's operation",       
       topic: ["Colorectal","Emergency"],   
       who:"Henri A C A Hartmann",           
       where:"Paris, France",                     
       when:"1923",   
      },
      {
       ID: 12, 
       name:"Hinchey classification",     
       topic: ["Colorectal","Emergency"],   
       who:"Edward John Hinchey",            
       where:"Montreal, Canada",                  
       when:"1978",   
       },
       {
        ID: 13, 
        name: "Kierner classification",     
        topic: ["Endocrine","ENT"],          
        who: "Antonius C Kierner",             
        where: "Vienna, Austria",                   
        when: "1998",
       },
       {
        ID: 14, 
        name:"Mallory-Weiss syndrome",     
        topic:["Oesophagogastric"],         
        who:"Kenneth Mallory & Soma Weiss",   
        where:"Boston, Massachusetts, USA",        
        when:"1929",
       },
       {
        ID: 15, 
        name:"Mann-Whitney U test",        
        topic:["Academic"],                 
        who:"Henry B Mann & Donald R Whitney",
        where:"Columbus, Ohio, USA",               
        when:"1947",
       },
       {
        ID: 16,
        name: "McBurney's point",
        topic: ["General", "Emergency"],
        who: "Charles Heber McBurney",
        where: "Manhattan, New York, USA",
        when: "1889",
       },
       {
        ID: 17, 
        name:"Mirizzi's syndrome",         
        topic:["HPB","General","Emergency"],
        who:"Pablo Luis Mirizzi",             
        where:"Córdoba, Argentina",                
        when:"1948",
       },
       {
        ID: 18, 
        name:"Monro-Kellie doctrine",      
        topic:["Neurosurgery","Trauma"],    
        who:"Kellie G & Alexander Monro",     
        where:"Edinburgh, Scotland, UK",           
        when:"1824",   
       },
       {
        ID: 19, 
        name:"Murphy's sign",              
        topic:["HPB","Emergency"],          
        who:"John Benjamin Murphy",           
        where:"Chicago, Illinois, USA",            
        when:"1912",
       },
       {
        ID: 20, 
        name:"Oakland bleeding score",     
        topic:["Colorectal","Emergency"],   
        who:"Kathryn Oakland",                
        where:"Oxford, England, UK",               
        when:"2018",   
      },
      {
        ID: 21,
        name: "Riedel's thyroiditis",
        topic: ["Endocrine"],
        who: "Bernhard M C L Riedel",
        where: "Jena, Thuringia, Germany",
        when: "1896",
      },
]

let result1 = eponyms
  .flatMap(item => item.topic)
  .filter((item, i, arr) => arr.indexOf(item) === i)
let resultsort1 = result1.sort()
var select = document.getElementById("select1");
var options = resultsort1;
for(var i = 0; i < options.length; i++) {
    var opt = options[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    select.appendChild(el);
	}

$( '#select1' ).on( 'change', function() {
    let select = "";
    $("#select1").find('option:selected').each(function() {
      select += "\'" + $.trim($(this).text()) + "\',";
       });
      if (select != "") {
        select = select.substr(0);
    }
    var stringArray = (new Function( "return [" + select + "];")());
    function topicFilter2(taxonomy) {
    	taxonomy = Array.isArray(taxonomy) ? taxonomy : [taxonomy];
      return eponyms.filter(item => {
      	let topic = Array.isArray(item.topic) ? item.topic : [item.topic];
        return taxonomy.some(med => topic.includes(med));
        });
        }
  	var select2 = topicFilter2(stringArray);
    var push = select2.reduce((options, {ID,name}) =>
         options += `<option value="${ID}">${name}</option>`);
    
    function populateSelect() {
    var push = select2.reduce((options, {ID,name}) =>
         options += `<option value="${ID}">${name}</option>`);
         }
    populateSelect()
    $( '#select4' ).html(push);
        }).trigger("change")
    
    function show(id) {
    let select = "";
    $("#select1").find('option:selected').each(function() {
      select += "\'" + $.trim($(this).text()) + "\',";
       });
      if (select != "") {
        select = select.substr(0);
    }
    var stringArray = (new Function( "return [" + select + "];")());
    function topicFilter2(taxonomy) {
    	taxonomy = Array.isArray(taxonomy) ? taxonomy : [taxonomy];
      return eponyms.filter(item => {
      	let topic = Array.isArray(item.topic) ? item.topic : [item.topic];
        return taxonomy.some(med => topic.includes(med));
        });
        }
  	var select2 = topicFilter2(stringArray);
    var msg = document.getElementById('msg');
      if (!id) {msg.innerHTML = "";
      	} else {
        for (var i = 0; i < select2.length; i++) {
        if  (Number(id) === select2[i].ID) {
            msg.innerHTML = "<br>"+
          'Who'   +":   "+ select2[i].who.bold()   +"<br>"+
          //'When'  +":   "+ select2[i].when.bold()  +"<br>"+
          'Where' +":   "+ select2[i].where.bold()}
          }}}
   
      

$( document ).ready(function() {
$('#select4').on("change", function show(id) {
    let select = "";
    $("#select3").find('option:selected').each(function() {
      select += "\'" + $.trim($(this).text()) + "\',";
       });
      if (select != "") {
        select = select.substr(0);
    }
    var stringArray = (new Function( "return [" + select + "];")());
    function topicFilter2(taxonomy) {
    	taxonomy = Array.isArray(taxonomy) ? taxonomy : [taxonomy];
      return eponyms.filter(item => {
      	let topic = Array.isArray(item.topic) ? item.topic : [item.topic];
        return taxonomy.some(med => topic.includes(med));
        });
        }
  	var select2 = topicFilter2(stringArray);
    var msg = document.getElementById('msg');
      if (!id) {msg.innerHTML = "";
      	} else {
        for (var i = 0; i < select2.length; i++) {
        if  (Number(id) === select2[i].ID) {
            msg.innerHTML = "<br>"+
          'Who'   +":   "+ select2[i].who.bold()   +"<br>"+
          'When'  +":   "+ select2[i].when.bold()  +"<br>"+
          'Where' +":   "+ select2[i].where.bold()}
          }}}
).trigger("change")
});
</script>