<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Excision Ltd">
        <meta name="description" content="This growing site teaches the history of surgical eponyms using powerful interactive functions to help you rapidly memorise terminology.">
        
        <!-- Page Title -->
        <title>Surgical Names</title>

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/assets/img/favicons/site.webmanifest">
        <link rel="mask-icon" href="/static/assets/img/favicons/safari-pinned-tab.svg" color="#f23838">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Vendor Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
        <link href="/static/assets/vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>

        <!-- Theme Stylesheets -->
        <link href="/static/assets/css/theme.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129313359-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-129313359-1');
        </script>
    </head>

    <body>
        <!-- Preloader -->
        <!-- <div class="d-flex justify-content-center" id="mdb-preloader">
            <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- End of Preloader -->

        <!-- Header -->
        <header class="spyre-navbar navbar navbar-expand-lg bg-secondary navbar-dark fixed-top align-items-center" data-transparent data-text-color="#ffffff">
            <div class="container">
                <a class="navbar-brand mr-lg-5 mr-xl-7" href="https://lastgospyre.herokuapp.com">
                    <img src="/static/assets/img/SurgicalNames.png" class="d-none d-lg-block" alt="SurgicalNames" width="183" />
                    <img src="/static/assets/img/SurgicalNames.png" class="d-block d-lg-none" alt="SurgicalNames" width="150" />
                </a>
            </div>
        </header>
        <!-- End of Header -->


        <!-- Main Content -->
        <main class="main minh-100vh">
            <!-- Section -->
            <section class="py-0 overflow-hidden text-center" id="section-1">
                <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(/static/assets/img/backgrounds/iStock-1272573682.jpg)"></div>
                <div class="container">
                    <div class="row h-100vh justify-content-center align-items-center">
                        <div class="col-lg-8">
                            <h1 class="text-white fs-2 fs-lg-7" data-aos="fade-down" data-aos-duration="1500">SurgicalNames.com</h1>
                            <p class="mb-5 fs-lg-1 text-white" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1500">an interactive multi-indexed eponym database</p>
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <a href="#section-4" class="btn btn-primary mx-2 px-5 mb-3" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1500" data-smooth-scroll data-smooth-scroll-hash="false">Eponym Explorer</a>
                                </div>
                            </div>
                        </div>

                        <div class="move d-none d-lg-block">
                            <a href="#section-2" class="text-white" data-smooth-scroll data-smooth-scroll-hash="false">
                                <i class="zmdi zmdi-long-arrow-down zmdi-hc-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section id="section-2">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h3 class="my-0 fs-1 fw-medium text-primary text-uppercase">Check out</h3>
                            <h2 class="mb-5 fw-medium text-secondary text-uppercase">Functions</h2>
                            <p>Explore eponymous surgical terms in intuitive ways to quickly deepen your understanding.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="row justify-content-center text-center mt-6">
                                <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-6 px-4 px-lg-5">
                                    <div class="mb-3 p-1 d-flex square rounded-circle bg-blue-light" data-aos="flip-right" data-aos-duration="1000">
                                        <i class="fas fa-database fs-2 fs-md-3 fs-xl-4 d-flex align-self-center mx-auto text-secondary"></i>
                                    </div>
                                    <h6 class="text-uppercase" data-aos="zoom-in" data-aos-delay="000" data-aos-duration="500">Database</h6>
                                </div>

                                <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0 px-4 px-lg-5">
                                    <div class="mb-3 p-1 d-flex square rounded-circle bg-blue-light" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                                        <i class="fas fa-sliders-h fs-2 fs-md-3 fs-xl-4 d-flex align-self-center mx-auto text-secondary"></i>
                                    </div>
                                    <h6 class="text-uppercase" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500">Interactive</h6>
                                </div>

                                <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0 px-4 px-lg-5">
                                    <div class="mb-3 p-1 d-flex square rounded-circle bg-blue-light" data-aos="flip-right" data-aos-delay="150" data-aos-duration="1000">
                                        <i class="fas fa-history fs-2 fs-md-3 fs-xl-4 d-flex align-self-center mx-auto text-secondary"></i>
                                    </div>
                                    <h6 class="text-uppercase" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="500">Time Travel</h6>
                                </div>

                                <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0 px-4 px-lg-5">
                                    <div class="mb-3 p-1 d-flex square rounded-circle bg-blue-light" data-aos="flip-right" data-aos-delay="200" data-aos-duration="1000">
                                        <i class="fas fa-globe fs-2 fs-md-3 fs-xl-4 d-flex align-self-center mx-auto text-secondary"></i>
                                    </div>
                                    <h6 class="text-uppercase" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500">World Maps</h6>
                                </div>

                                <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0 px-4 px-lg-5">
                                    <div class="mb-3 p-1 d-flex square rounded-circle bg-blue-light" data-aos="flip-right" data-aos-delay="250" data-aos-duration="1000">
                                        <i class="fab fa-wikipedia-w fs-2 fs-md-3 fs-xl-4 d-flex align-self-center mx-auto text-secondary"></i>
                                    </div>
                                    <h6 class="text-uppercase" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500">Webpage Links</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section class="py-6 py-lg-8 bg-primary text-white">
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <h2 class="mb-5">What is an eponym?</h2>
                            <p class="mb-0">An 'eponymous' term is one which is derived from somebody's name. 
                                Famous examples in surgery include Graves' disease, McBurney's point, 
                                & Strasberg's critical view.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section id="section-4" class="text-center">
                <div class="container">
                    <h3 class="my-0 fs-1 fw-medium text-primary text-uppercase">Eponym</h3>
                    <h2 class="mb-5 fw-medium text-secondary text-uppercase">Explorer</h2>
                    
                    <div class="row justify-content-center">
                        <div class="col-lg-6 mb-4 mb-lg-6" data-aos="fade-up" data-aos-duration="1000">
                            <a href="/alphabet" class="mb-3 d-block position-relative">
                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
                                    <i class="fas fa-link fa-2x"></i>
                                </div>
                                <img src="/static/assets/img/backgrounds/iStock-583857946_A2Z.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover"/>
                            </a>
                            <h4><a href="/alphabet" class="text-body">A to Z</a></h4>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-6" data-aos="fade-up" data-aos-duration="1000">
                            <a href="/categories" class="mb-3 d-block position-relative">
                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
                                    <i class="fas fa-link fa-2x"></i>
                                </div>
                                <img src="/static/assets/img/backgrounds/iStock-1270087897_cats.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover"/>
                            </a>
                            <h4><a href="/categories" class="text-body">Categories</a></h4>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-6" data-aos="fade-up" data-aos-duration="1000">
                            <a href="/diseases" class="mb-3 d-block position-relative">
                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
                                    <i class="fas fa-link fa-2x"></i>
                                </div>
                                <img src="/static/assets/img/backgrounds/iStock-1227575974_sick.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover"/>
                            </a>
                            <h4><a href="/diseases" class="text-body">Diseases & Symptoms</a></h4>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-6" data-aos="fade-up" data-aos-duration="1000">
                            <a href="/journals" class="mb-3 d-block position-relative">
                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
                                    <i class="fas fa-link fa-2x"></i>
                                </div>
                                <img src="/static/assets/img/backgrounds/iStock-939313456_J.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover"/>
                            </a>
                            <h4><a href="/journals" class="text-body">Journals</a></h4>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-6" data-aos="fade-up" data-aos-duration="1000">
                            <a href="/operations" class="mb-3 d-block position-relative">
                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
                                    <i class="fas fa-link fa-2x"></i>
                                </div>
                                <img src="/static/assets/img/backgrounds/iStock-532331964_op.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover"/>
                            </a>
                            <h4><a href="/operations" class="text-body">Operations</a></h4>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-6" data-aos="fade-up" data-aos-duration="1000">
                            <a href="/maps" class="mb-3 d-block position-relative">
                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
                                    <i class="fas fa-link fa-2x"></i>
                                </div>
                                <img src="/static/assets/img/backgrounds/iStock-1202864734_map.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover"/>
                            </a>
                            <h4><a href="/maps" class="text-body">World Maps</a></h4>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section class="py-6 py-lg-8 bg-primary text-white" id="section-5">
                <div class="container">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <h2 class="mb-5">Your support</h2>
                            <p class="mb-0">Please consider making a small contribution to help us meet running and development costs.
                                Your support is very much appreciated.</p>
                        </div>
                    </div>
                    <br></br>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a href="https://www.justgiving.com" target="_blank" class="btn bg-white text-primary mb-4 px-4" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000">Donate</a>   <!--<i class="zmdi zmdi-shopping-car ml-2"></i>-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->
        </main>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="footer text-white" style="background-image: url(/static/assets/img/backgrounds/iStock-532331964.jpg)">
            <div class="container d-flex h-100">
                <div class="row flex-grow-1">
                    <div class="col d-flex flex-column mb-2 mt-3 pl-lg-7">     <!-- <div class="col d-flex flex-column mb-2 mt-3 pl-lg-7"     <div class="row pt-5 pt-lg-8 pb-4 pb-lg-6">> -->
                        <div class="col-6 col-lg-3">
                            <br></br>
                            <h6 class="mb-1 mb-lg-4 text-uppercase">About</h6>
                            <ul class="pt-2 mb-5 fw-light list-unstyled">
                                <li class="my-1"><a href="#" class="text-white">Design Team</a></li>
                                <li class="my-1"><a href="#" class="text-white">Contact Us</a></li>
                                <!-- <li class="my-1"><a href="#" class="text-white">Sponsors</a></li> -->
                            </ul>
                        </div>
                        <div class="mt-auto d-flex justify-content-between">
                            <span class="fs--3 fs-lg--2">&copy; 2021 SurgicalNames.com | Excision Ltd, Scotland, UK</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        <!-- Core Javascripts -->
        <!-- <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/static/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
        <script>
            // Accepts any class name
            var rellax = new Rellax('.rellax');
          </script>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
          </script>

        <script>
            $(window).on('load', function() {
                $('#mdb-preloader').delay(1000).fadeOut(300);
            });
        </script>

        <!-- Theme Javascripts -->
        <script src="/static/assets/js/theme.js"></script>
    </body>
</html>